services:
  ifcbdb:
    build: .
    container_name: ifcbdb
    env_file: .env
    volumes:
      - ../raw:/home/appuser/raw
    depends_on:
      - postgres
      - memcached
      - redis

  celery:
    build: .
    container_name: celery
    command: celery -A ifcbdb worker -l info
    env_file: .env
    volumes:
      - ../raw:/home/appuser/raw
    depends_on:
      - postgres
      - memcached
      - redis

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    ports:
      - 80:80
    depends_on:
      - ifcbdb

  postgres:
    image: postgis/postgis:13-3.1-alpine
    container_name: postgres
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  memcached:
    image: memcached:1.6-alpine
    container_name: memcached
    command: ['-m', '64m']

  redis:
    image: redis:6.2-alpine
    container_name: redis

volumes:
  pg_data:
